<h2>Estadisticas</h2>
<ul>
  <li>El número de preguntas: <%=count_quiz%></li>
  <li>El número de comentarios totales: <%=count_comment%></li>
  <li>El número medio de comentarios por pregunta: <%=mean_comment%></li>
  <li>El número de preguntas sin comentarios: <%=quiz_without_comment%></li>
  <li>El número de preguntas con comentarios: <%=quiz_with_comment%></li>
</ul>


    
    
    
    